<h1>Add a Word</h1>

<form action="/dictionary" method="post">
  <label for="word_name">Enter New Word Here</label>
  <input id='name' type="text" name="word_name">

  <button type="submit" class="btn">Add</button>
</form>
